<% layout('layouts/boilerplate') -%>

<div class="row">
  <div class="col-8 offset-2">
    <h1>Edit Listing</h1>
    <form
      action="/listings/<%=listing._id%>?_method=PUT"
      method="POST"
      class="needs-validation"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          value="<%=listing.title%>"
          type="text"
          name="listing[title]"
          class="form-control"
          placeholder="Enter Title"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Insert Image</label>
        <input
          type="file"
          class="form-control"
          name="listing[image]"
          placeholder="Enter image URL"
        />
        <div class="invalid-feedback">Price</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            value="<%= listing.price%>"
            type="number"
            name="listing[price]"
            class="form-control"
            placeholder="Enter price"
            required
          />
          <div class="invalid-feedback">Please enter price.</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>
          <input
            value="<%= listing.location%>"
            type="text"
            name="listing[location]"
            placeholder="Enter Location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter location.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          value="<%= listing.country%>"
          type="text"
          name="listing[country]"
          placeholder="Enter Country"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter country.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
          placeholder="Enter Description"
          required
        >
<%=listing.description%>
      </textarea
        >
        <div class="invalid-feedback">Please enter price.</div>
      </div>

      <button class="btn btn-success mb-5">Edit</button>
    </form>
  </div>
</div>
