<% layout('layouts/boilerplate') -%>

<div class="card-listing card col-lg-6 offset-lg-3 row mt-2">
  <h3 class="text-center"><b><%= listing.title%></b></h3>
  <img
    src="<%= listing.image.url%>"
    class="card-img-top show-img listing-image"
    alt="Listing image"
  />
  <div class="mt-0 pt-1 card-body">
    <div class="card-text">
      Owned by <b><i><%=listing.owner.username%></i></b
      ><br />
      <br />

      <%=listing.description%> <br />
      <b>PKR </b><%=listing.price.toLocaleString("ur-PK")%> <br />
      <%=listing.location%> <br />
      <%=listing.country%> <br /><br />
      <%if(curUser&&curUser._id.equals(listing.owner._id)){%>
      <div class="row">
        <a
          href="/listings/<%=listing._id%>/edit"
          class="btn btn-danger col-2 mx-2"
          >Edit
        </a>
        <form
          action="/listings/<%=listing._id%>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary">Delete</button>
        </form>
      </div>
      <%}%>
    </div>
  </div>

  <div class="mt-4 mb-3">
    <%if(curUser){%>
    <h4>Leave a review!</h4>

    <form
      action="/listings/<%=listing._id%>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <!-- <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          name="review[rating]"
          class="form-range"
          min="0"
          max="5"
        /> -->
        <fieldset class="starability-slot">
          <div class="mb-2">Rating:</div>
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          type="text"
          name="review[comment]"
          class="form-control"
          placeholder="Add comment"
          rows="4"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter comment</div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>

    <hr />
    <%}%>
    <p><b>All Reviews</b></p>
    <div class="row">
      <%for (let review of listing.reviews){%>
      <div class="card review-card col-6 mb-3">
        <div>
          <b> <p class="card-title">@<%= review.author.username%></p> </b>
          <p class="starability-result" data-rating="<%=review.rating%>"></p>
          <p class="card-text"><%=review.comment%></p>
        </div>
        <%if(curUser&&curUser._id.equals(review.author._id)){%>
        <form
          action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
          method="POST"
          class="mt-auto"
        >
          <button class="btn btn-dark btn-sm mb-2 mt-2">Delete</button>
        </form>
        <%}%>
      </div>
      <%}%>
    </div>
  </div>
</div>
